<form role="form" class="frm-create form-inline">
  <div class="row">
    <div class="col-sm-4">
      <label>
        Video File<br/>
        <input type="file" accept="video/*" class="form-control"/>
      </label>
    </div>
    <div class="col-sm-4">
      <label>
        Presets<br/>
        <select class="form-control" data-bind="options: presetOptions, optionsText: 'Name', optionsValue: 'Id', value: PresetId, optionsCaption: 'Choose...'"></select>
      </label>
    </div>
    <div class="col-sm-2">
      <label>
        Rotate<br/>
        <select class="form-control" data-bind="options: rotateOptions, value: Rotate, optionsCaption: 'none'"></select>
      </label>
    </div>
    <div class="col-sm-2">
      <label>
        <input type="checkbox" data-bind="checked: Thumbnails"> Create Thumbs?
      </label>
    </div>
  </div>

  <button class="btn btn-primary btn-createjob" title="Creates a new video transcoder job" data-bind="attr: {disabled: Processing}, click: createJob">
    <span data-bind="visible: Processing() === false">Create Job</span>
    <span data-bind="visible: Processing"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Creating...</span>
  </button>
</form>

<!-- Modal -->
<div data-bind="with: modalViewModel">
  @Html.Partial("_Modal")
</div>